/* Fonts */

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Regular.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Bold.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Weather App */

:root {
  /* --red-50: #ffebee;
  --red-600: #e53935;
  --green-800: #2e7d32;
  --yellow-50: #fffde7;
  --yellow-600: #fdd835;
  --orange-50: #fff3e0;
  --orange-600: #fb8c00; */
  --gray-100: #f5f5f5;
  --gray-400: #bdbdbd;
  --gray-900: #212121;
  --white: #fff;
}

body {
  font-family:
    Inclusive Sans,
    Arial,
    Helvetica,
    sans-serif;
  color: var(--gray-900);
  background-color: var(--gray-100);
}

/* Header */

header {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--gray-900);
  color: var(--white);
}

header .container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 800px;
  max-width: 100%;
}

header img {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 1rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

form {
  position: relative;
  margin-left: auto;
}

form::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  content: "";
  display: block;
  background: url("./assets/icons/search.svg") center no-repeat;
  height: 20px;
  width: 20px;
}

input {
  border-radius: 10px;
  padding: 5px 10px 5px 40px;
  border: 2px solid var(--gray-400);
}

button {
  border: 0;
  padding: 0;
}
